[Unit]
Description=Rotate WiFi Guest Password

[Service]
Type=oneshot
EnvironmentFile=/etc/wifi-portal/iptables.env
Environment="WIFI_PORTAL_SETTINGS=/etc/wifi-portal/settings.ini"
Environment="WIFI_PORTAL_DB=/var/lib/wifi-portal/portal.db"
ExecStart=/opt/wifi-portal/scripts/rotate-password.sh
